<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            font-family: Monaco; 
        }

        a {
            color:coral;
        }
    </style>
</head>
    <body>
        <header>
            <h1>ecommerce</h1>
            <nav>
                <a href="/realtimeproducts">agregar producto</a>
                <a href="/realtimecart">ver carrito</a>
                <a href="/messages">mensajes</a>
            </nav>
        </header>




    </body>

</html>